*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Cutsom properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-dark: rgba(15, 18, 36, 0.945);
  --clr-light: rgba(255, 255, 255, 0.897);
  --clr-accent: #94b9b9;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.2rem;

  --bs: 0.25em 0.25em 0.15em rgba(25, 180, 180, 0.35),
    0.125em 0.125em 0.25em rgba(25, 180, 180, 0.15);

  --grid-border: 0.5px;
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0 2.5%;
  /* clear: both; */
}

strong {
  font-weight: var(--fw-bold);
}

a {
  color: var(--clr-accent);
}

/* nav */
nav {
  width: 100%;
}

.nav__list {
  /* overflow: hidden; */
  list-style: none;
  text-align: center;
  margin-top: 20px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  color: var(--clr-accent);
  font-weight: 900;
  font-size: 30px;
  background-color: rgb(52, 48, 66);
  padding: 8px 15px;
  border-radius: 11%;
}

/* Section */
.section {
  border: 1px solid;
  margin: 30px 10px;
  min-width: 300px;
  max-width: 1400px;
}

.section__title {
  margin: 30px 0px 30px;
  color: var(--clr-accent);
  font-size: var(--fs-h1);
  text-align: center;
  border-radius: 6%;
}

.section__subtitle {
  margin: 20px 5px;
  color: var(--clr-accent);
  font-size: var(--fs-h2);
}
/* Home */

.home__list {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 20px;
}
.home__list-item {
  display: inline-block;
  width: 30%;
  margin: 0px auto;
}

.home-description__list {
  list-style: none;
}

.home-description__list-item {
}

.home__profile-picture {
  height: 600px;
  width: 500px;
  object-fit: cover;
  object-position: 100% 100%;
  margin: 0px;
}

/* Projects */
.projects-grid {
  display: grid;
  gap: 20px;
  padding: 0px 20px 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(min(450px, 50%), 1fr));
}

.project-card {
  padding: 1px 0px;
  border-radius: 10px;
  height: 300px;
  background-color: rgb(9, 8, 15);
}

.project-card__background-image {
  width: 100%;
  height: 100%;
  opacity: 0.03;
  position: absolute;
  border-radius: 10px;
}

.project-card__link {
  margin: 0px 0px;
  text-decoration: none;
  display: block;
  position: relative;
}

.project-card__title {
  margin: 20px 20px 30px;
}

.project-card__content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin: 10px 35px;
  position: relative;
}

/* About me */

.about-me-table {
  margin-left: 30px;
  width: 90%;
}
.about-me-table__row {
  margin-bottom: 20px;
}

.about-me-table__cell {
  padding: 5px 0px;
}

.about-me-table__index {
  font-weight: 550;
  padding-right: 30px;
  white-space: nowrap;
  width: 150px;
}

/* Contact */

.contact-sublist__link {
  text-decoration: none;
  color: var(--clr-light);
}

.contact-sublist__row {
  margin: 50px;
}

.contact-sublist__item {
  display: inline;
  font-weight: bold;
  vertical-align: middle;
  letter-spacing: 0.05rem;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
  color: var(--clr-accent);
  width: 90px;
  vertical-align: middle;
}
/* 
.fa-linkedin {
  color: var(--clr-accent);
}

.fa-envelope {
  color: var(--clr-accent);
} */
