@use "variables"as *;

.title {
    text-align: center;
    margin: 4rem 0 5rem;
    font-size: 3rem;
}

.content {
    width: 900px;
    // background-color: #ff00003e;
    line-height: $p-line-height;
    margin: auto;
    text-align: justify;
    font-size: 1.4rem;
}

.back-link {
    margin: 3rem 0 0 3rem;
    display: flex;
    color: $font-color--secondary;

    &:hover {
        color: $accent-color;
    }

    &__chevron {
        font-size: 25px;
        vertical-align: bottom;
        margin-right: 0.8rem;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
    }
}

.project__paragraph {
    margin: 2rem 0 3rem;
}

.project__h2 {
    margin: 0;
}