$accent-color: red;
$small: 300px;
$md: 830px;

$navbar-height: 100px;

$background-color: #111a29;
$background-color--secondary: #24253e;
$navbar-color: #09080f;
$font-color--primary: #ded8e7;
$font-color--secondary: #a19aae;

$p-font-size: 1.1rem;
$p-line-height: 1.75rem;