@use "variables"as *;


.project {

    &-list {
        &__title {
            text-align: center;
            margin: 4rem 0;
            font-size: 3rem;
        }

        $input__padding-x: 1rem;
        $input__width: 700px;

        &__input {
            display: flex;
            // width: $input__width;
            height: 30px;
            margin: 0 auto 3rem;
            border-radius: 10px;
            border-width: 0px;
            padding: 0.5rem $input__padding-x;
            font-size: 1.2rem;
            font-weight: 700;
        }

        &__tags {
            justify-content: center;
            margin: 0 auto 2rem;
            // @include inputWidth(700px, 1rem);
            // width: calc($input__width + 2*$input__padding-x);
            overflow: auto;
            white-space: nowrap;

            $scrollbar-height: 7px;

            &::-webkit-scrollbar {
                height: $scrollbar-height;
            }

            &:hover {
                &::-webkit-scrollbar {
                    height: $scrollbar-height;

                    &-track {
                        // box-shadow: inset 0 0 5px red;
                        border-radius: 10px;
                    }

                    &-thumb {
                        background: #a2abd9b5;
                        border-radius: 10px;

                        &:hover {
                            background: #a2abd9e1;
                        }
                    }
                }
            }
        }

        // Compute width of search bar and project-list__tags accounting for padding-x
        @mixin inp($input__width) {
            .project-list__input {
                width: $input__width;
            }

            .project-list__tags {
                width: calc($input__width + 2*$input__padding-x);
            }
        }

        @include inp(700px);

        @media (max-width: $md) {
            @include inp(380px)
        }

        @media (max-width: $sm) {
            @include inp(300px)
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__card {
        width: 400px;
        height: auto;
        background-color: $background-color--secondary;
        margin: 1rem;
        padding: 1.9rem;
        border-radius: 20px;
    }

    &__tags {

        width: 100%;
        height: 40px;
        overflow: auto;
        white-space: nowrap;
        margin: 0.5rem 0 0.5rem;

        $scrollbar-height: 7px;

        &::-webkit-scrollbar {
            height: $scrollbar-height;
        }

        &:hover {
            &::-webkit-scrollbar {
                height: $scrollbar-height;

                &-track {
                    // box-shadow: inset 0 0 5px red;
                    border-radius: 10px;
                }

                &-thumb {
                    background: #a2abd9b5;
                    border-radius: 10px;

                    &:hover {
                        background: #a2abd9e1;
                    }
                }
            }
        }


    }

    &__tag {
        background-color: #000000;
        display: inline-block;
        padding: 0.15rem 0.6rem;
        margin: 0 0.4rem;
        border-radius: 10px;
        font-weight: 600;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}