@use "variables"as *;


.project {
    &__global-tags {
        // display: flex;
        justify-content: center;
        margin: 0 auto 2rem;
        width: calc(704px + 2rem);
        overflow: auto;
        white-space: nowrap;

        $scrollbar-height: 7px;

        &::-webkit-scrollbar {
            height: $scrollbar-height;
        }

        &:hover {
            &::-webkit-scrollbar {
                height: $scrollbar-height;

                &-track {
                    // box-shadow: inset 0 0 5px red;
                    border-radius: 10px;
                }

                &-thumb {
                    background: #a2abd9b5;
                    border-radius: 10px;

                    &:hover {
                        background: #a2abd9e1;
                    }
                }
            }
        }
    }

    &-list {
        &__title {
            text-align: center;
            margin: 4rem 0;
            font-size: 3rem;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__input {
            display: flex;
            width: 700px;
            height: 30px;
            margin: 0 auto 3rem;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-weight: 700;

        }
    }

    &__card {
        width: 400px;
        height: auto;
        background-color: $background-color--secondary;
        margin: 1rem;
        padding: 1.9rem;
        border-radius: 20px;
    }

    &__tags {

        width: 100%;
        height: 40px;
        overflow: auto;
        white-space: nowrap;
        margin: 0.5rem 0 0.5rem;

        $scrollbar-height: 7px;

        &::-webkit-scrollbar {
            height: $scrollbar-height;
        }

        &:hover {
            &::-webkit-scrollbar {
                height: $scrollbar-height;

                &-track {
                    // box-shadow: inset 0 0 5px red;
                    border-radius: 10px;
                }

                &-thumb {
                    background: #a2abd9b5;
                    border-radius: 10px;

                    &:hover {
                        background: #a2abd9e1;
                    }
                }
            }
        }


    }

    &__tag {
        background-color: #000000;
        display: inline-block;
        padding: 0.15rem 0.6rem;
        margin: 0 0.4rem;
        border-radius: 10px;
        font-weight: 600;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}