@use "variables"as *;

.home {
    width: 100%;
    // height: 200vh;
    background: #0a192f;
    padding-bottom: 500px;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.hero-img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.18);
}

.header-container {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    
    position: relative;
    // height: 350px;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}


.name {
    // margin: auto 0;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #ccd6f6;

    @media (min-width: 640px) {
        font-size: 4rem;
        line-height: 1;
    }
}

.role {
    font-size: 2.15rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #8892b0;
    text-align: center;

    @media (min-width: 640px) {
        font-size: 3.5rem;
        line-height: 1;
    }
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #8892b0;
}