@use "variables"as *;

.home {
    width: 100%;
    background: $background-color;
    padding-bottom: 10vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.18);
}

.header-container {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 350px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - $navbar-height);
    margin: 0 0 80px;
}


.name {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    // color: #ccd6f6;

    @media (min-width: 640px) {
        font-size: 4rem;
        line-height: 1;
    }
}

.role {
    font-size: 2.15rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: $font-color--secondary;
    text-align: center;

    @media (min-width: 640px) {
        font-size: 3.5rem;
        line-height: 1;
    }
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #8892b0;
}


// Services
.services {
    display: flex;
    justify-content: center;
    margin: 0 0 5rem;

    @media (max-width: $sm) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 0 3rem;
    }

    &__service {

        &-card {
            background-color: $background-color--secondary;

            margin: 0 1rem;
            padding: 2rem 2rem;
            border-radius: 1rem;
            width: 300px;

            @media (max-width: $sm) {
                width: 70%;
                margin: 1rem 0;
            }
        }

        &-title {
            text-align: center;
            margin: 0 0 2rem;
        }
    }
}

// About me
.about-me {
    width: 100%;
    height: 100vh;
    background: $background-color--secondary;

    @media (max-width: $sm) {
        height: auto;
    }

    &__image {
        width: 50%;
        height: 100%;
        position: absolute;
        object-fit: cover;

        @media (max-width: $sm) {
            position: relative;
            width: 100%;
            height: 50%;
        }

    }

    &__text-container {
        margin: 0 50%;
        width: calc(50% - 2rem);
        padding: 3rem 1rem;
        position: relative;

        @media (max-width: $sm) {
            margin: 0;
            width: 100%;
            height: 50%;
            width: auto;
            ;

        }
    }

    &__text {
        &>h1 {
     margin: 0 0 3rem;
     width: 100%;
 }
        &>ul {
            margin: 1rem 0;

            &>li {
                margin: 1rem 2rem 0;
                list-style-type: disc;
                line-height: $p-line-height;
                font-size: $p-font-size;
            }
        }
    }


}