@use "variables"as *;

.contact {
    color: #D1D5DB;
    width: 100%;
    height: 100vh;
    background: $background-color;
}

.contact__page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    // height: 100%;
}
